* {
  scroll-behavior: smooth;
  outline: none;
  text-align: center;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

section {
  margin: 200px 0px;
  border: 1px solid black;
  width: 50%;
  padding: 2rem;
  box-shadow: 0px 0px 10px 2px black;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #1a9cc49a;
}

.nitro h1 {
  font-size: 3rem;
}

.nitro a {
  color: black;
  text-decoration: none;
}

.privacyNotice {
  border: 1px solid black;
  width: 70%;
  padding: 10px;
  box-shadow: 0px 0px 10px 1px black;
  /* display: block; */
}

.privacyNotice h3 {
  display: inline;
  padding: 10px;
}

.privacyNotice span {
  margin-left: 30px;
  cursor: pointer;
  font-size: 0.7rem;
}

label h2 {
  margin-bottom: 0px;
}

input {
  border-radius: 5px;
  padding: 5px;
  box-shadow: 0px 0px 10px 0.5px black;
}

.btn {
  border-radius: 10px;
  padding: 5px;
  width: 90px;
  background-color: white;
}

.btn:hover {
  background-color: #1a9cc49a;
}

.resultImg {
  width: 500px;
}

.footerLink a {
  text-decoration: none;
  display: inline-block;
  padding: 1rem;
  font-size: 1.1rem;
  color: black;
}

footer {
  margin-top: 2rem;
  box-shadow: 0px 0px 10px 2px black;
  padding: 1rem;
  width: 90%;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 0px;
  margin-block-start: 0;
  margin-block-end: 0;
}

li img {
  width: 25px;
}

.legacyText {
  font-size: 0.8rem;
}

.fa-github:before {
  content: "\f09b";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-linkedin-in:before {
  content: "\f0e1";
}

.fa-briefcase:before {
  content: "\f0b1";
}
